/*Regular*/
/*
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/Pretendard-Regular.otf) format("truetype"), url(../public/Pretendard-Regular.ttf) format("ttf"),
    url(../public/Pretendard-Regular.woff) format("woff"), url(../public/Pretendard-Regular.woff2) format("woff2");
}
*/
